.elementor-3285 .elementor-element.elementor-element-557e23e8 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-3285 .elementor-element.elementor-element-557e23e8{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-3285 .elementor-element.elementor-element-d79ff45 .elementor-heading-title{color:#ffffff;font-family:"Gilroy", Gilroy, Sans-serif;font-weight:bold;}.elementor-3285 .elementor-element.elementor-element-569508c > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-3285 .elementor-element.elementor-element-b8af347 > .elementor-widget-container{margin:0px 0px 0px 45px;padding:0px 0px 0px 0px;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-menu-toggle{margin-left:auto;background-color:rgba(0,0,0,0);}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu .elementor-item{font-family:"Gilroy", Gilroy, Sans-serif;font-size:16px;font-weight:normal;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--main .elementor-item{color:#ffffff;padding-top:35px;padding-bottom:35px;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--main .elementor-item:hover,
					.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--main .elementor-item:focus{color:#49eaed;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#4e44d8;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown a, .elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-menu-toggle{color:#ffffff;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown{background-color:#4e44d8;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown a:hover,
					.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown a.highlighted,
					.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-menu-toggle:hover{color:#ffffff;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown a:hover,
					.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown a.highlighted{background-color:#4e44d8;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown .elementor-item, .elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Gilroy", Gilroy, Sans-serif;font-weight:bold;}.elementor-3285 .elementor-element.elementor-element-2db8cddd div.elementor-menu-toggle{color:#ffffff;}.elementor-3285 .elementor-element.elementor-element-2db8cddd div.elementor-menu-toggle:hover{color:#49eaed;}.elementor-3285 .elementor-element.elementor-element-2db8cddd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-3285 .elementor-element.elementor-element-557e23e8{padding:0px 20px 20px 20px;}}@media(max-width:767px){.elementor-3285 .elementor-element.elementor-element-557e23e8{padding:0px 020px 020px 020px;}.elementor-3285 .elementor-element.elementor-element-0bf80a1{width:20%;}.elementor-3285 .elementor-element.elementor-element-d79ff45 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3285 .elementor-element.elementor-element-ac9c049{width:2%;}.elementor-3285 .elementor-element.elementor-element-569508c > .elementor-widget-container{margin:0px 0px 0px 20px;padding:0px 0px 20px 0px;}.elementor-3285 .elementor-element.elementor-element-72e5959{width:45%;}.elementor-3285 .elementor-element.elementor-element-b8af347 > .elementor-widget-container{margin:5px 0px 0px 30px;}.elementor-3285 .elementor-element.elementor-element-20660ee0{width:35%;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown .elementor-item, .elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:16px;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--dropdown a{padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;}.elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-3285 .elementor-element.elementor-element-2db8cddd .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:20px !important;}.elementor-3285 .elementor-element.elementor-element-2db8cddd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-3285 .elementor-element.elementor-element-0bf80a1{width:9%;}.elementor-3285 .elementor-element.elementor-element-ac9c049{width:31%;}.elementor-3285 .elementor-element.elementor-element-72e5959{width:20%;}.elementor-3285 .elementor-element.elementor-element-20660ee0{width:40%;}}@media(max-width:1024px) and (min-width:768px){.elementor-3285 .elementor-element.elementor-element-0bf80a1{width:31%;}.elementor-3285 .elementor-element.elementor-element-ac9c049{width:2%;}.elementor-3285 .elementor-element.elementor-element-72e5959{width:30%;}.elementor-3285 .elementor-element.elementor-element-20660ee0{width:33%;}}/* Start custom CSS for heading, class: .elementor-element-d79ff45 */@media only screen and (max-width: 500px) {
    .nav-city p{
    visibility: hidden;
	position: relative;
}

.nav-city p:after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	content: "BLR";
	margin-top:8px;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-569508c */.app-link img{
    height: 35px;
    margin-right: 8px;

}
.app-store{
    text-align: left;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ac9c049 */.app-store1{
    height: 70px;
}
@media only screen and (max-width: 500px) { .app-store1{
    display: none
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-b8af347 */.header-logo img {
	position: absolute;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	margin-top: -20px !important;
	
    
}

.header-logo .logo-normal {
	opacity: 1;
}

.header-logo .logo-sticky {
	opacity: 0;
}

.elementor-sticky--active .header-logo .logo-normal {
	opacity: 0;
}

.elementor-sticky--active .header-logo .logo-sticky {
	opacity: 1;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-20660ee0 */.h-nav{
    height: 70px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-557e23e8 */.nav1{
    height: 70px;
}
.elementor-sticky--active {
 background-color: #fff;
 box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.3);
}

.elementor-sticky--active p {
color: #4e44d8 !important;
}

.elementor-sticky--active .nav-top a{
color: #666 !important;
}
.elementor-sticky--active .elementor-menu-toggle{
    color: #666 !important;
}

.elementor-sticky--active .nav-top a:hover {
color: #4e44d8 !important;
}

.elementor-sticky--active .nav-top a:active {
color: #4e44d8 !important;
}

@media only screen and (max-width: 500px) {
    .elementor-sticky--active p {
color: #4a4a4a !important;
    
}

.elementor-sticky--active .nav-top a {
color: #fff !important;
opacity:0.7 !important;
}

.elementor-sticky--active .nav-top a:hover {
color: #fff !important;
}

.elementor-sticky--active .nav-top a:active {
color: #fff !important;
}
}/* End custom CSS */